In [1]:
import pandas as pd

import json

import requests

In [2]:
file = "Resources/Air_Traffic_Passenger_Statistics.csv"

In [3]:
air_traffic = pd.read_csv(file)

In [4]:
air_traffic.head(50)

,index,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July
5,5,200507,Air China,CA,Air China,CA,International,Asia,Deplaned,Other,International,G,6263,Deplaned,6263,2005,July
6,6,200507,Air China,CA,Air China,CA,International,Asia,Enplaned,Other,International,G,5500,Enplaned,5500,2005,July
7,7,200507,Air France,AF,Air France,AF,International,Europe,Deplaned,Other,International,A,12050,Deplaned,12050,2005,July
8,8,200507,Air France,AF,Air France,AF,International,Europe,Enplaned,Other,International,A,11638,Enplaned,11638,2005,July
9,9,200507,Air New Zealand,NZ,Air New Zealand,NZ,International,Australia / Oceania,Deplaned,Other,International,G,4998,Deplaned,4998,2005,July
10,10,200507,Air New Zealand,NZ,Air New Zealand,NZ,International,Australia / Oceania,Enplaned,Other,International,G,4962,Enplaned,4962,2005,July
11,11,200507,AirTran Airways,FL,AirTran Airways,FL,Domestic,US,Deplaned,Low Fare,International,A,8055,Deplaned,8055,2005,July
12,12,200507,AirTran Airways,FL,AirTran Airways,FL,Domestic,US,Enplaned,Low Fare,International,A,7984,Enplaned,7984,2005,July
13,13,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Deplaned,Other,International,A,36641,Deplaned,36641,2005,July
14,14,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Enplaned,Other,International,A,39379,Enplaned,39379,2005,July
15,15,200507,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Thru / Transit,Other,International,A,3678,Thru / Transit * 2,7356,2005,July
16,16,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Deplaned,Other,International,A,7977,Deplaned,7977,2005,July
17,17,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Enplaned,Other,International,A,8837,Enplaned,8837,2005,July
18,18,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Deplaned,Other,International,A,6969,Deplaned,6969,2005,July
19,19,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Enplaned,Other,International,A,10046,Enplaned,10046,2005,July
20,20,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Thru / Transit,Other,International,A,2266,Thru / Transit * 2,4532,2005,July
21,21,200507,All Nippon Airways,NH,All Nippon Airways,NH,International,Asia,Deplaned,Other,International,G,6545,Deplaned,6545,2005,July
22,22,200507,All Nippon Airways,NH,All Nippon Airways,NH,International,Asia,Enplaned,Other,International,G,6094,Enplaned,6094,2005,July
23,23,200507,American Airlines,AA,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 3,E,166577,Deplaned,166577,2005,July
24,24,200507,American Airlines,AA,American Airlines,AA,Domestic,US,Enplaned,Other,Terminal 3,E,160890,Enplaned,160890,2005,July
25,25,200507,American Eagle Airlines,MQ,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 3,E,5493,Deplaned,5493,2005,July
26,26,200507,American Eagle Airlines,MQ,American Airlines,AA,Domestic,US,Enplaned,Other,Terminal 3,E,5213,Enplaned,5213,2005,July
27,27,200507,Asiana Airlines,OZ,Asiana Airlines,OZ,International,Asia,Deplaned,Other,International,A,5041,Deplaned,5041,2005,July
28,28,200507,Asiana Airlines,OZ,Asiana Airlines,OZ,International,Asia,Enplaned,Other,International,A,4744,Enplaned,4744,2005,July
29,29,200507,Atlantic Southeast Airlines,EV,Delta Air Lines,DL,Domestic,US,Deplaned,Other,Terminal 1,C,1552,Deplaned,1552,2005,July
30,30,200507,Atlantic Southeast Airlines,EV,Delta Air Lines,DL,Domestic,US,Enplaned,Other,Terminal 1,C,1484,Enplaned,1484,2005,July
31,31,200507,BelAir Airlines,4T,BelAir Airlines,4T,International,Europe,Deplaned,Other,International,A,325,Deplaned,325,2005,July
32,32,200507,BelAir Airlines,4T,BelAir Airlines,4T,International,Europe,Enplaned,Other,International,A,545,Enplaned,545,2005,July
33,33,200507,British Airways,BA,British Airways,BA,International,Europe,Deplaned,Other,International,A,20632,Deplaned,20632,2005,July
34,34,200507,British Airways,BA,British Airways,BA,International,Europe,Enplaned,Other,International,A,21686,Enplaned,21686,2005,July
35,35,200507,Cathay Pacific,CX,Cathay Pacific,CX,International,Asia,Deplaned,Other,International,A,11010,Deplaned,11010,2005,July
36,36,200507,Cathay Pacific,CX,Cathay Pacific,CX,International,Asia,Enplaned,Other,International,A,9628,Enplaned,9628,2005,July
37,37,200507,China Airlines,CI,China Airlines,CI,International,Asia,Deplaned,Other,International,A,13638,Deplaned,13638,2005,July
38,38,200507,China Airlines,CI,China Airlines,CI,International,Asia,Enplaned,Other,International,A,11255,Enplaned,11255,2005,July
39,39,200507,Delta Air Lines,DL,Delta Air Lines,DL,Domestic,US,Deplaned,Other,Terminal 1,C,97510,Deplaned,97510,2005,July
40,40,200507,Delta Air Lines,DL,Delta Air Lines,DL,Domestic,US,Enplaned,Other,Terminal 1,C,93791,Enplaned,93791,2005,July
41,41,200507,EVA Airways,BR,EVA Airways,BR,International,Asia,Deplaned,Other,International,G,14142,Deplaned,14142,2005,July
42,42,200507,EVA Airways,BR,EVA Airways,BR,International,Asia,Enplaned,Other,International,G,12132,Enplaned,12132,2005,July
43,43,200507,Frontier Airlines,F9,Frontier Airlines,F9,Domestic,US,Deplaned,Low Fare,Terminal 1,B,19234,Deplaned,19234,2005,July
44,44,200507,Frontier Airlines,F9,Frontier Airlines,F9,Domestic,US,Enplaned,Low Fare,Terminal 1,B,18368,Enplaned,18368,2005,July
45,45,200507,Hawaiian Airlines,HA,Hawaiian Airlines,HA,Domestic,US,Deplaned,Other,Terminal 1,C,7579,Deplaned,7579,2005,July
46,46,200507,Hawaiian Airlines,HA,Hawaiian Airlines,HA,Domestic,US,Enplaned,Other,Terminal 1,C,7658,Enplaned,7658,2005,July
47,47,200507,Horizon Air,QX,Alaska Airlines,AS,Domestic,US,Deplaned,Other,Terminal 1,B,5284,Deplaned,5284,2005,July
48,48,200507,Horizon Air,QX,Alaska Airlines,AS,Domestic,US,Enplaned,Other,Terminal 1,B,5257,Enplaned,5257,2005,July
49,49,200507,Icelandair,FI,Icelandair,FI,International,Europe,Deplaned,Other,International,A,4540,Deplaned,4540,2005,July

In [5]:
usa_flights = air_traffic.loc[(air_traffic["GEO Region"] == "US"), :]

In [6]:
usa_flights["GEO Summary"].value_counts()

Domestic    5797
Name: GEO Summary, dtype: int64

In [7]:
canada_flights = air_traffic.loc[(air_traffic["GEO Region"] == "Canada"), :]

In [8]:
canada_flights.head()

,index,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
3,3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July
16,16,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Deplaned,Other,International,A,7977,Deplaned,7977,2005,July
17,17,200507,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Enplaned,Other,International,A,8837,Enplaned,8837,2005,July
79,79,200507,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,International,Canada,Deplaned,Other,Terminal 3,F,3688,Deplaned,3688,2005,July

In [9]:
canada_flights["GEO Summary"].value_counts()

International    1418
Name: GEO Summary, dtype: int64

In [10]:
canada_cleaned = canada_flights[["Year","Month","Published Airline IATA Code","GEO Summary","Activity Type Code","Price Category Code","Adjusted Passenger Count"]]

In [11]:
canada_cleaned

,Year,Month,Published Airline IATA Code,GEO Summary,Activity Type Code,Price Category Code,Adjusted Passenger Count
3,2005,July,AC,International,Deplaned,Other,35156
4,2005,July,AC,International,Enplaned,Other,34090
16,2005,July,AS,International,Deplaned,Other,7977
17,2005,July,AS,International,Enplaned,Other,8837
79,2005,July,UA,International,Deplaned,Other,3688
...,...,...,...,...,...,...,...
14990,2016,March,UA,International,Enplaned,Other,344
14991,2016,March,UA,International,Deplaned,Other,6842
14992,2016,March,UA,International,Enplaned,Other,3805
14993,2016,March,UA,International,Deplaned,Other,4388
14994,2016,March,UA,International,Enplaned,Other,9378

In [12]:
canada_2011_2016 = canada_cleaned.loc[(canada_cleaned["Year"] > 2010), :]

In [13]:
canada_2011_2016["GEO Summary"].value_counts()

International    763
Name: GEO Summary, dtype: int64

In [14]:
canada_2011_2016.head(50)

,Year,Month,Published Airline IATA Code,GEO Summary,Activity Type Code,Price Category Code,Adjusted Passenger Count
7689,2011,January,AC,International,Deplaned,Other,18556
7690,2011,January,AC,International,Enplaned,Other,18556
7755,2011,January,UA,International,Deplaned,Other,2000
7756,2011,January,UA,International,Deplaned,Other,10780
7757,2011,January,UA,International,Enplaned,Other,12505
7785,2011,January,UA,International,Deplaned,Other,9129
7786,2011,January,UA,International,Enplaned,Other,8700
7787,2011,January,UA,International,Thru / Transit,Other,28
7795,2011,January,VX,International,Deplaned,Low Fare,1449
7796,2011,January,VX,International,Enplaned,Low Fare,1475
7803,2011,February,AC,International,Deplaned,Other,17810
7804,2011,February,AC,International,Enplaned,Other,16746
7867,2011,February,UA,International,Deplaned,Other,1934
7868,2011,February,UA,International,Deplaned,Other,10723
7869,2011,February,UA,International,Enplaned,Other,11630
7895,2011,February,UA,International,Deplaned,Other,9931
7896,2011,February,UA,International,Enplaned,Other,9125
7897,2011,February,UA,International,Thru / Transit,Other,282
7905,2011,February,VX,International,Deplaned,Low Fare,1743
7906,2011,February,VX,International,Enplaned,Low Fare,1639
7913,2011,March,AC,International,Deplaned,Other,19577
7914,2011,March,AC,International,Enplaned,Other,21041
7980,2011,March,UA,International,Deplaned,Other,2394
7981,2011,March,UA,International,Deplaned,Other,10086
7982,2011,March,UA,International,Enplaned,Other,12717
8007,2011,March,UA,International,Deplaned,Other,12670
8008,2011,March,UA,International,Enplaned,Other,12345
8009,2011,March,UA,International,Thru / Transit,Other,834
8017,2011,March,VX,International,Deplaned,Low Fare,2759
8018,2011,March,VX,International,Enplaned,Low Fare,2860
8025,2011,April,AC,International,Deplaned,Other,19483
8026,2011,April,AC,International,Enplaned,Other,20869
8094,2011,April,UA,International,Deplaned,Other,1973
8095,2011,April,UA,International,Deplaned,Other,9090
8096,2011,April,UA,International,Enplaned,Other,12322
8123,2011,April,UA,International,Deplaned,Other,11501
8124,2011,April,UA,International,Enplaned,Other,13238
8125,2011,April,UA,International,Thru / Transit,Other,316
8135,2011,April,VX,International,Deplaned,Low Fare,476
8136,2011,April,VX,International,Enplaned,Low Fare,370
8146,2011,May,AC,International,Deplaned,Other,10851
8147,2011,May,AC,International,Enplaned,Other,11554
8148,2011,May,AC,International,Deplaned,Other,12237
8149,2011,May,AC,International,Enplaned,Other,13028
8215,2011,May,UA,International,Deplaned,Other,2131
8216,2011,May,UA,International,Deplaned,Other,9473
8217,2011,May,UA,International,Enplaned,Other,13312
8247,2011,May,UA,International,Deplaned,Other,13416
8248,2011,May,UA,International,Enplaned,Other,15298
8249,2011,May,UA,International,Thru / Transit,Other,494

In [15]:
grouped = canada_2011_2016.groupby(["Year","Month"]).sum()

In [16]:
dataframe = grouped.reset_index()

In [17]:
dataframe

    Year      Month  Adjusted Passenger Count
0   2011      April                     89638
1   2011     August                    149448
2   2011   December                     82478
3   2011   February                     81563
4   2011    January                     83178
..   ...        ...                       ...
58  2015    October                    131040
59  2015  September                    154369
60  2016   February                     93321
61  2016    January                     92099
62  2016      March                    100735

[63 rows x 3 columns]

In [18]:
avg_traffic = dataframe.groupby("Month").mean()

In [19]:
avg_traffic = avg_traffic["Adjusted Passenger Count"]

In [20]:
avg_traffic = pd.DataFrame(avg_traffic)

avg_traffic

           Adjusted Passenger Count
Month
April                  92351.600000
August                163111.600000
December               90816.200000
February               82617.000000
January                82550.500000
July                  157290.200000
June                  138133.000000
March                  95030.833333
May                   128054.600000
November               81499.600000
October               119915.400000
September             136142.800000

In [21]:
avg_traffic = avg_traffic["Adjusted Passenger Count"].astype(int)

In [22]:
avg_traffic = pd.DataFrame(avg_traffic)

In [23]:
avg_traffic

           Adjusted Passenger Count
Month
April                         92351
August                       163111
December                      90816
February                      82617
January                       82550
July                         157290
June                         138133
March                         95030
May                          128054
November                      81499
October                      119915
September                    136142

In [24]:
avg_traffic = avg_traffic.reset_index()

In [25]:
avg_traffic = pd.DataFrame(avg_traffic)

avg_traffic

        Month  Adjusted Passenger Count
0       April                     92351
1      August                    163111
2    December                     90816
3    February                     82617
4     January                     82550
5        July                    157290
6        June                    138133
7       March                     95030
8         May                    128054
9    November                     81499
10    October                    119915
11  September                    136142